body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 30px;
}

header {
    padding-bottom: 50px;
}

#kerrokset {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}

#kerrokset li {
    display: inline-block;
    height: 100px;
    width: 100%;
    line-height: 100px;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

#kerrokset li:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.kerros {
    height: 100px;
    width: 100px;
    background-color: rgba(64, 64, 64, 0.4);
    float: left;
    font-size: 5em;
    font-weight: bold;
    font-family: Impact;
    color: white;
}

.kerrosnappulat {
    height: 100px;
    width: 200px;
    height: 100px;
    float: left;
    background-color: rgba(128, 128, 128, 0.2);
}

.hissi {
    position: absolute;
    height: 100px;
    width: 50px;
    background-color: grey;
    overflow-x: hidden;
}

.hissi button {
    border: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: .7em;
    margin-top: 3px;
    margin-left: 3px;
}

.hissi button:active {
    background-color: green;
}